body {
    padding: 10px;
    height:50px;
    background-color: grey;
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 4rem;
    color:white;
    letter-spacing: 3px;;
}
#clock {
    font-size: 2rem;
    color: white;
}