body {
    padding: 10px;
    min-height: 100vh;
    background-color: green;
    font-family:Arial, Helvetica, sans-serif;
}
#myclock {
    font-size: 150px;
    color:white;
    letter-spacing: 3px;
}
#clock {
    font-size: 2rem;
    color: white;
    text-align: center;
}
#title {
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    color: black;
}
img {
    display: block;
    margin-left: auto;
    margin-left: auto;
    width: 300px;
}