body {

    padding: 10px;
    min-height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/192253.jpg");
    font-family:Arial, Helvetica, sans-serif;
}
#myclock {
    font-size: 150px;
    color: white;
    letter-spacing: 3px;
    font-weight:bold;
    text-shadow: 0 10px  rgba(190, 173, 173, 0.7);
}
#clock {
    font-size: 2rem;
    color: white;
    text-align: center;
}
#title {
    font-size: 100px;
    font-family:Georgia, serif;
    padding: 10px;
    color: white;
    text-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
