body {

    padding: 10px;
    min-height: 100vh;
    background: linear-gradient(130deg,lightgrey,steelblue);
    font-family:Arial, Helvetica, sans-serif;
}
#myclock {
    font-size: 200px;
    color: black;
    letter-spacing: 3px;
    font-weight:bold;
    text-shadow: 0 10px  rgba(190, 173, 173, 0.7);
}
#clock {
    font-size: 2rem;
    color: white;
    text-align: center;
}
#title {
    font-size: 100px;
    font-family:Georgia, serif;
    padding: 10px;
    color: black;
    text-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 100px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    border-radius: 20px;
}